extends ../layout/layout.pug

block content
  div.container
    div.post-area
      if posts
        each value in posts
          div.row.post-block
            div.col-xs-11.col-md-11
              span.post-user= value.user
              span.post-date DATE: #{value.date}
              p.post= value.body
            div.col-xs-1.col-md-1
              span(aria-hidden="true", data-id=value._id).glyphicon.glyphicon-remove.remove-button

  div.container
    div.row
      div.col-xs-8.col-md-8
        textarea(class="form-control" rows="3").users-post
      div.col-xs-4.col-md-4
        button(type="button" class="btn btn-primary").submit-button Primary


